
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/_styles-grid';
@import 'styles/_styles-page';

.container {
  @apply mx-auto max-w-screen-2xl;
}

@layer components {
  .page-header {
    @apply text-center mb-6;

    h1 {
      @apply text-3xl font-bold text-indigo-700;
    }
  }
}

.text-primary {
  color: darkblue;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: rgb(143, 15, 15);
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.error-div-dialog
{
  height: 20px; 
  margin: 0 24px 8px;
  
  .error-span-dialog
  {
    color: #f44336; 
    font-size: 14px; 
    font-weight: 500;
  }
}


