.clear-btn {
    background-color: gray !important; /* Example: Deep Orange */
    color: white !important;

    &:hover {
        background-color: rgb(95, 92, 92) !important; /* Example: Darker Deep Orange */
    }
    &:focus {
        outline: none !important;
        box-shadow: 0 0 5px rgba(255, 87, 34, 0.5) !important; /* Example: Deep Orange Shadow */
    }
  }