<header class="header">
  <div class="header-container">
    
    <!-- Logo -->
    <div class="logo" routerLink="/">
      <mat-icon>menu_book</mat-icon>
      <span class="logo-text">LibraryApp</span>
    </div>

    <!-- Desktop Nav -->
    <div class="nav-wrapper">
      <!-- Centered links -->
      <nav class="main-nav">

        <a routerLink="/" 
          routerLinkActive="active"  
          [routerLinkActiveOptions]="{exact: true}">Home</a>       

        <a routerLink="/manageBooks" 
          routerLinkActive="active"  *appIsAdmin>Manage Books</a>

        <a routerLinkActive="active" *appIsAdmin>Manage Staff</a>

        <a routerLinkActive="active" *appIsStaffOrAdmin>Manage Members</a>

        <a routerLinkActive="active" *appIsStaffOrAdmin>Manage Borrowals</a>

        <a routerLinkActive="active" *appIsMember>Manage Borrowals</a>

        <a routerLink="account/profile" 
          routerLinkActive="active" *appIsLoggedIn>Profile</a>
        
        <!-- <a routerLink="/test-error" 
          routerLinkActive="active"  
          [routerLinkActiveOptions]="{exact: true}">Error Test</a> -->

      </nav>

      @if(accountService.currentUser())
      {
        <div class="auth-links">
          <a (click)="logout()" class="login-btn">Logout</a>
        </div>
      }
      @else
      {
          <!-- Right-aligned Auth buttons -->
          <div class="auth-links">
            <a routerLink="account/login" class="login-btn">Login</a>
            <a routerLink="account/register" class="register-btn">Register</a>
          </div>
      }
    </div>

    <!-- Mobile toggle -->
    <div class="mobile-menu-btn md:hidden">
      <button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>

  @if (busyService.loading) {
    <mat-progress-bar mode="indeterminate" class="fixed top-1 z-50"></mat-progress-bar>
  }

  <!-- Mobile Nav Menu -->
  <div *ngIf="menuOpen" class="mobile-nav">
    <a routerLink="/home">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
</header>
