.header {
    @apply bg-slate-50 text-blue-800 shadow-md;
  }
  
  .header-container {
    @apply max-w-7xl mx-auto px-4 py-3 flex justify-between items-center;
  }
  
  .logo {
    @apply flex items-center space-x-2;
  }
  
  .logo-text {
    @apply text-xl font-semibold tracking-wide;
  }
  
  .nav-wrapper {
    @apply hidden md:flex justify-between flex-1 ml-6 items-center;
  }
  
  .main-nav a {
    @apply text-sm font-medium hover:text-gray-300 transition cursor-pointer;
    @apply mx-2;
  }
  
  .auth-links {
    @apply space-x-4;
    @apply border-l border-gray-300 pl-4;
  }
  
  .login-btn {
    @apply bg-white text-indigo-600 px-3 py-1 rounded hover:bg-gray-100 transition cursor-pointer text-sm;
  }
  
  .register-btn {
    @apply bg-indigo-100 text-indigo-700 px-3 py-1 rounded hover:bg-indigo-200 transition cursor-pointer text-sm;
  }
  
  .mobile-menu-btn button {
    @apply text-white focus:outline-none;
  }
  
  .mobile-nav {
    @apply md:hidden bg-indigo-700 text-white px-4 pb-4 space-y-2;
  }
  
  .mobile-nav a {
    @apply block py-1 hover:text-gray-300 cursor-pointer;
  }


  .logo {
    cursor: pointer; // Makes the div act clickable like a link
    text-decoration: none; // Removes underline
    color: inherit; // Keeps current text color
  
    &:hover {
      text-decoration: underline; // Simulates an <a> tag hover effect
      color: rgb(197, 172, 197); // Optionally change color to resemble a link
    }
  }

  a 
  {
    &.active {
      color: rgb(197, 172, 197); // Change color when active
    }
  }

// mat-menu for logout, prpfile, change password buttons
// Custom Button Style
.menu-button {
  @apply flex items-center space-x-2 px-4 py-2 rounded-md bg-white text-indigo-600;
  @apply hover:bg-gray-100 hover:text-indigo-700 transition-all duration-300 cursor-pointer text-sm shadow-md;
 
  
  mat-icon {
    @apply text-indigo-600;
  }

  span {
    @apply text-indigo-600;
  }

  &:focus {
    outline: none;
  }

  font-size: 13px !important; // Make the font size smaller
}

//// Custom Menu Styles
.custom-menu {
  @apply w-56 shadow-lg bg-white rounded-lg ring-1 ring-gray-200;
  
  mat-menu-item {
    @apply flex items-center space-x-2 text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-md transition-all duration-300;
    
    mat-icon {
      @apply text-gray-700;
    }

    span {
      @apply text-gray-700;
    }
  }

  mat-divider {
    @apply my-2;
  }
}

// Custom Menu Item Hover Effect
.menu-item {
  &:hover {
    @apply bg-gray-100;
  }
}