@if(this.borrowFormDto)
{
<div class="container">
    <form [formGroup]="borrowalForm" (ngSubmit)="onSubmit()" class="popup-form-class">

        <div class="page-header">
            <h1>Borrow a book</h1>
            <p class="sub-header">First select a genre/s, and author/s, then a book. Then select a member, check due
                date, and click borrow</p>
        </div>

        <!-- Book Info Section -->
        <section class="mb-8 border-l-4 border-blue-500 pl-4">

            <h2 class="text-2xl font-semibold text-blue-700 mb-4">Book Selection</h2>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="genre" multiple>
                        <mat-option *ngFor="let genre of this.genres" [value]="genre.value">
                            {{ genre.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Authors</mat-label>
                    <mat-select formControlName="authors" multiple>
                        <mat-option *ngFor="let author of this.borrowFormDto.authors" [value]="author.id">
                            {{ author.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Book</mat-label>
                    <mat-select formControlName="book" required>
                        <mat-option *ngFor="let book of booksWithAuthorsList" [value]="book.bookId" class="book-option">
                            <img [src]="getImageUrl(book.bookPictureUrl)" alt="Book Image" title="{{book.bookTitle}}"
                                class="book-image" />
                            <span>{{ book.bookTitle }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </section>

        <section class="mb-8 border-l-4 border-green-500 pl-4">

            <h2 class="text-2xl font-semibold text-green-700 mb-4">Member Selection</h2>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Select a member</mat-label>
                    <input type="text" matInput formControlName="member" [matAutocomplete]="auto">

                    <mat-autocomplete #auto>
                        <mat-option *ngFor="let member of filterMembers$ | async" [value]="member.email">
                            {{ member.firstName }} {{ member.lastName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="pickerStartDate" formControlName="borrowalDate" required
                        [readonly]="true" />
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]="pickerEndDate" formControlName="returnDate" required
                        [readonly]="true" />
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                </mat-form-field>


            </div>

        </section>

        <!-- Validation Errors -->
        @if (validationErrors)
        {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-6">
            <strong class="font-semibold">Please fix the following:</strong>
            <ul class="list-disc pl-5 mt-2">
                @for (error of validationErrors; track $index) {
                <li>{{ error }}</li>
                }
            </ul>
        </div>
        }


        @if (errorMessage)
        {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-6">
            <strong class="font-semibold">Please fix the following:</strong>
            <ul class="list-disc pl-5 mt-2">

                <li>{{ errorMessage }}</li>

            </ul>
        </div>
        }

        <!-- Buttons -->
        <div class="flex justify-end space-x-3 mt-6">
            <button mat-stroked-button type="button" (click)="clearForm()" class="text-gray-700 border-gray-500">
                Reset
            </button>
            <button mat-flat-button color="primary" type="submit" [disabled]="borrowalForm.invalid">
                Borrow
            </button>
        </div>

    </form>



</div>

}