<div class="container">
    <mat-card class="login-card">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <div class="login-header">
          <h1>Login</h1>
        </div>
  
        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Email address</mat-label>
          <input matInput formControlName="email" type="email" placeholder="name@example.com" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="password" required>
        </mat-form-field>
  
        <div *ngIf="errorMessage" class="error-box">
          <span>{{ errorMessage }}</span>
        </div>
  
        <button mat-flat-button color="primary" type="submit" class="submit-btn" [disabled]="loginForm.invalid">
          Sign In
        </button>
      </form>
    </mat-card>
  </div>
  